extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Hi there! We're Jon and Laurie. We built this mobile application to create an application for skateboarders 
        p all around the world to connect with another and share the experience of skateboarding as a community. 
        p As developers, we're always looking for feedback on our work, feel free to drop us a line below! 
        p Thank you and have a wonderful time using SpotHunter...Go skate! 

         a(href='mailto:teamspothunter@gmail.com')
          Send Get in touch!


