head
    title SpotHunter
    // bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
    // LEAFLET
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css' integrity='sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js' integrity='sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==' crossorigin='')
    // LOCAL FILES
    link(rel='stylesheet' href='/stylesheets/map.css')
    script(src='/scripts/scripts.js')
    // FONT AWESOME AND FILES
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')


block content
header
    nav#navBar.navbar.navbar-expand-lg.navbar-light.bg-light
        // <a class="navbar-brand" href="#">Navbar</a>
        img#title(src='./images/vect.png')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#')
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Features
                li.nav-item
                    a.nav-link(href='#') Prices
                li.nav-item
                    if currentUser
                        a.nav-link(href='/logout') Log Out


        form.form-inline.my-2.my-lg-0
            ul
                li.nav-item.dropdown
                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-sm-2(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Dropdown link
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(onclick='toggleProfile()' href='#') Something else here
                        a.dropdown-item(onclick='toggleNav() ' href='#') Drop A marker
                        a#locate-position.dropdown-item(href='#')  Current Positon

#map
#mySidenav.sideprofile

  .card(style='width: 18rem;')
      img.card-img-top(src='/images/vect.png', alt='Card image cap')
  .card-body
   h5.card-title 
      small.card-text ONLINE
      ul.list-group.list-group-flush
      li.list-group-item SKATE-SET UP
      li.list-group-item FAVORITE SPOTS
      li.list-group-item LOOKING FOR...
      li.list-group-item(href='#') SETTINGS
      li.list-group-item(href='#') LOGOUT

#mySidenav.sidenav
    ul
        p
            | Choose an Icon that represents the spot you found, then tap anywhere on the map to place it!
        li#hRail(data-title='icons')
            img.icon(src='images/handrail.png')
        li#shop(data-title='icons')
            img.icon(src='images/shop.png')
        li#bench(data-title='icons')
            img.icon(src='images/bench.png')
        li#stairs(data-title='icons')
            img.icon(src='images/stairs.png')
        li#sPark(data-title='icons')
            img.icon(src='images/park.png')
        li#hPipe(data-title='icons')
            img.icon(src='images/halfPipe.png')
    script.
      function toggleNav() {
        var element = document.getElementById("mySidenav");
        if (element.style.height== "250px") {
          element.style.height = "0px";
        } else {
          element.style.height= "250px";
        }
      }
      //- function openNav() {
      //-   document.getElementById("mySidenav").style.width = "250px";
      //- }
      //- function closeNav() {
      //-   document.getElementById("mySidenav").style.width = "0";
      //- }

      function toggleProfile() {
        var element = document.getElementById("mySidenav");
        if (element.style.height== "80%") {
          element.style.height = "0px";
        } else {
          element.style.height= "80%";
        }
      }
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      function openCity(evt, cityName) {
        let i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
       for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
        }




