body{
    margin:0 auto;
    background-color:lightblue;
    color:black;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-content: flex-end;
    border:2px solid red;
}
.avatar{
    border-radius:100%;
    border:orange 2px solid;
}

